<%= simple_form_for(@maraude) do |f| %>

<div class="form-inline">
  <%= f.label :date %>
  <div class="input-group date" id="datepicker">
	  <%= f.text_field :date, class: 'form-control', data: { date_format: 'DD/MM/YYYY', locale: 'fr' } %>
	  <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
	</div>

  <%= f.label :type_maraude, "Type de maraude" %>
  <%= f.select :type_maraude, @types, prompt: "Choisissez un type de maraude", class: 'form-control' %>
</div>

<div><%= f.submit "Créer la maraude", class: "btn btn-primary" %></div>

<% end %>