<% # Listes villes parcourues et usagers rencontrés %>
<% rencontres = Rencontre.where(date: maraude.date, type_renc: maraude.type_maraude) %>
<% m_renc = [] %>
<% rencontres.each do |r| %>
  <% u = Usager.find_by(id: r.usager_id) %>
  <% m_renc << "#{u.ville} @#{u.sexe} #{u.nom} #{u.prenom}" %>
<% end %>
<% arr = m_renc.sort %>
<% liste_villes = [] %>
<% liste_usagers = [] %>
<% (0..(arr.length-1)).each do |i| %>
  <% ville = arr[i].split(' @').first %>
  <% usager = arr[i].split(' @').last %>
  <% if liste_villes.last == "#{ville}" %>
    <% liste_usagers.last << "   - #{usager}\n" %>
  <% else %>
    <% liste_villes << "#{ville}" %>
    <% liste_usagers << "   - #{usager}\n" %>
  <% end %>
<% end %>
<% disp_renc = "" %>
<% (0..(liste_villes.length-1)).each do |n| %>
  <% disp_renc << "#{liste_villes[n].upcase} :\n#{liste_usagers[n]}\n" %>
<% end %>


<% # Liste des déroutages %>
<% der = "" %>
<% (0..(liste_villes.length-1)).each do |i| %>
  <% if !maraude.villes.include?("#{liste_villes[i]}") %>
    <% der << "#{liste_villes[i]}\n" %>
  <% end %>
<% end %>


<% # Liste des signalements %>
<% sigs = Rencontre.where(date: maraude.date, type_renc: maraude.type_maraude, signale: true) %>
<% m_sig = [] %>
<% sigs.each do |r| %>
  <% u = Usager.find_by(id: r.usager_id) %>
  <% m_sig << "#{u.ville} @#{u.sexe} #{u.nom} #{u.prenom}" %>
<% end %>
<% arr = m_sig.sort %>
<% liste_villes = [] %>
<% liste_usagers = [] %>
<% (0..(arr.length-1)).each do |i| %>
  <% ville = arr[i].split(' @').first %>
  <% usager = arr[i].split(' @').last %>
  <% if liste_villes.last == "#{ville}" %>
    <% liste_usagers.last << "   - #{usager}\n" %>
  <% else %>
    <% liste_villes << "#{ville}" %>
    <% liste_usagers << "   - #{usager}\n" %>
  <% end %>
<% end %>
<% disp_sig = "" %>
<% (0..(liste_villes.length-1)).each do |n| %>
  <% disp_sig << "#{liste_villes[n].upcase} :\n#{liste_usagers[n]}\n" %>
<% end %>


<tr id="maraude">
  <td>
    <%= link_to "#{maraude.type_maraude}", maraude %><br>
    <%= link_to "#{maraude.date.strftime("%d/%m/%y")}", maraude %><br>

    <% villes = maraude.villes.split("\n") %>
    <% (0..(villes.length-1)).each do |i| %>
      <% if liste_villes.include?("#{villes[i]}") %>
        <% villes[i] << " ☑" %>
      <% else %>
        <% villes[i] << " ☐" %>
      <% end %>
    <% end %>
    <pre class="maraude-list"><%= villes.join("\n") %></pre>

    <% if !der.empty? && !maraude.villes.empty? %>
      Déroutage(s) : <pre class="maraude-list"><%= der %></pre>
    <% end %>

    <% if maraude.villes.empty? %>
      <%= link_to "Ajouter les villes théoriquement parcourues", id_m_villes_path(:id => maraude.id) %>
    <% else %>
      <%= link_to "Modifier les villes", id_m_villes_path(:id => maraude.id) %>
    <% end %>
  </td>
  <td>
    <pre class="maraude-list"><%= disp_renc %></pre>
  </td>
  <td>
    <pre class="maraude-list"><%= disp_sig %></pre>
  </td>
  <td>
    <pre class="maraude-list"><%= maraude.accompagnements %></pre>
  </td>
</tr>