<% provide(:title, "#{@maraude.type_maraude} du #{@maraude.date.strftime("%d/%m/%y")}") %>

<h1><%= @maraude.type_maraude %> du <%= @maraude.date.strftime("%d/%m/%y") %></h1>

<%= form_for(@maraude, url: id_post_villes_path(id: @maraude.id), method: :post) do |f| %>

<h3>Intervenants</h3>
  
  <ul id="intervenants">
     <%= f.fields_for :intervenants do |interv| %>
        <li><%= render 'intervenant_fields', f: interv %></li>
     <% end %>
     <%= link_to_add_association 'Ajouter un intervenant', f, :intervenants, class: 'btn btn-info links' %>
  </ul>

<hr>

<h3>Villes théoriquement parcourues</h3>

  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-4">
      <% for ville in @villes[0..((@villes.length/3).floor)] do %>
        <% if @maraude.villes.split("\n").include?("#{ville.first}") %>
          <%= f.check_box :villes, { :multiple => true, :checked => true }, "#{ville.first}" %>
          <%= ville.first %><br>
        <% else %>
          <%= f.check_box :villes, { :multiple => true, :checked => false }, "#{ville.first}" %>
          <%= ville.first %><br>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4">
      <% for ville in @villes[((@villes.length/3).floor + 1)..(((@villes.length/3)*2).floor + 1)] do %>
        <% if @maraude.villes.split("\n").include?("#{ville.first}") %>
          <%= f.check_box :villes, { :multiple => true, :checked => true }, "#{ville.first}" %>
          <%= ville.first %><br>
        <% else %>
          <%= f.check_box :villes, { :multiple => true, :checked => false }, "#{ville.first}" %>
          <%= ville.first %><br>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4">
      <% for ville in @villes[(((@villes.length/3).floor)*2 + 2)..(@villes.length - 1)] do %>
        <% if @maraude.villes.split("\n").include?("#{ville.first}") %>
          <%= f.check_box :villes, { :multiple => true, :checked => true }, "#{ville.first}" %>
          <%= ville.first %><br>
        <% else %>
          <%= f.check_box :villes, { :multiple => true, :checked => false }, "#{ville.first}" %>
          <%= ville.first %><br>
        <% end %>
      <% end %>
    </div>
  </div>

  <br>

  <div class="text-center">
    <%= f.submit "Valider", class: "btn btn-primary" %>
  </div>
<% end %>