<% provide(:title, 'Villes maraude') %>

<h3>Villes théoriquement parcourues pendant la <%= @maraude.type_maraude.downcase %> du <%= @maraude.date.strftime("%d/%m/%y") %></h3>

<%= form_for(@maraude, url: maraudes_path, method: "POST") do |f| %>

  <% for ville in @villes do %>
    <% if @maraude.villes.split("\n").include?("#{ville.first}") %>
      <%= f.check_box :villes, { :multiple => true, :checked => true }, "#{ville.first}" %>
      <%= ville.first %><br>
    <% else %>
      <%= f.check_box :villes, { :multiple => true, :checked => false }, "#{ville.first}" %>
      <%= ville.first %><br>
    <% end %>
  <% end %>

  <%= f.submit "Valider", class: "btn btn-primary" %>
<% end %>