<% provide(:title, "Structures") %>

<h1>
	Index des structures
	<% unless current_user.benev? %>
		<br><%= link_to "Nouvelle structure", new_structure_path, class: 'btn btn-info' %>
	<% end %>
</h1>

<%= form_tag(structures_path, :method => "get", id: "search-form", role: 'search', class: "navbar navbar-search") do %>
  <div class="form-group col-md-4 col-sm-4 col-xs-4">
    <%= text_field_tag :search, params[:search], placeholder: "Rechercher des structures", class: 'form-control' %>
  </div>
  <%= submit_tag "Rechercher", class: 'btn btn-default' %>
<% end %>

<% if !@structures.empty? %>
  <% c = (@structures.count / 4).floor %>
  <% r = @structures.count % 4 %>
  <% i = 0 %>
  <% while i != c %>
    <div class="row structures">
      <% @structures[(4*i)..(4*(i+1) - 1)].each do |u| %>
        <div class="col-md-3 col-sm-3 col-xs-3 lead">
  	      <%= link_to "#{u.nom}", u %>
          <% if u.ville.present? %>
            (<%= u.ville %>)
          <% end %>

  	      <!--Nb signalements-->
  	      <% s = Rencontre.where(signale: true, sig_structure: u.nom).count %>
  	      <% if s != 0 %>
  	      	<br><span class="label label-default"><%= pluralize(s, "signalement") %></span>
  	      <% end %>

  	      <!--Nb accompagnements-->
  	      <% a = Rencontre.where(accomp: true, accomp_structure: u.nom).count %>
  	      <% if a != 0 %>
  	      	<br><span class="label label-default"><%= pluralize(a, "accompagnement") %></span>
  	      <% end %>
    	  </div>
      <% end %>
      <hr>
    </div>
    <% i += 1 %>
  <% end %>
  <% if r != 0 %>
    <div class="row structures">
      <% @structures[(4*c)..(4*c + r)].each do |u| %>
        <div class="col-md-3 col-sm-3 col-xs-3 lead">
          <%= link_to "#{u.nom}", u %>

  	      <!--Nb signalements-->
  	      <% s = Rencontre.where(signale: true, sig_structure: u.nom).count %>
  	      <% if s != 0 %>
  	      	<br><span class="label label-default"><%= pluralize(s, "signalement") %></span>
  	      <% end %>

  	      <!--Nb accompagnements-->
  	      <% a = Rencontre.where(accomp: true, accomp_structure: u.nom).count %>
  	      <% if a != 0 %>
  	      	<br><span class="label label-default"><%= pluralize(a, "accompagnement") %></span>
  	      <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% else %>
  <p>Aucune structure correspondant au(x) terme(s) : "<%= params[:search] %>".</p>
<% end %>

<%= will_paginate %>