<% provide(:title, @structure.nom) %>

<h1>
	<% unless current_user.benev? %>
	  <%= link_to @structure.nom, edit_structure_path(@structure),
	  														class: "btn btn-info btn-lg",
	  														'data-toggle' => "tooltip",
	                							'data-placement' => "bottom",
	                							title: "Editer" %>
	<% else %>
		<%= @structure.nom %>
	<% end %>
  <small>
		<% if @structure.ville.present? %>
			<br><%= @structure.ville %>
		<% end %>
		<% if @structure.adresse.present? %>
			<br><%= @structure.adresse %>
		<% end %>
  </small>
</h1>

<%= form_tag(@structure, :method => "get", id: "search-form", role: 'search', class: "navbar navbar-search") do %>
  <div class="form-group col-md-4 col-sm-4 col-xs-4">
    <%= text_field_tag :search, params[:search], placeholder: "Rechercher des accompagnements/signalements", class: 'form-control' %>
  </div>
  <%= submit_tag "Rechercher", class: 'btn btn-default' %>
<% end %>

<% if params[:search] && (@sigs.present? || @accomps.present?) %>
	<h3 class="text-center">
		<% if @sigs.empty? %>
			<%= "#{pluralize(@accomps.count, "accompagnement")} #{'trouvé'.pluralize(@accomps.count)}" %>
		<% elsif @accomps.empty? %>
			<%= "#{pluralize(@sigs.count, "signalement")} #{'trouvé'.pluralize(@sigs.count)}" %>
		<% else %>
			<%= pluralize(@accomps.count + @sigs.count, "trouvé") %>
		<% end %>
	</h3>

	<table class="table table-striped">
		<tr>
			<% unless @sigs.empty? || @accomps.empty? %>
				<th>Type</th>
			<% end %>
			<%= render 'table_h' %>
			<% if @sigs.present? %>
				<th>Contact</th>
			<% end %>
		</tr>
		<% @rencs.each do |r| %>
			<tr>
				<% unless @sigs.empty? || @accomps.empty? %>
					<td>
						<% if r.accomp? && r.signale? %>
							Signalement et accompagnement
						<% elsif r.accomp? %>
							Accompagnement
						<% elsif r.signale? %>
							Signalement
						<% end %>
					</td>
				<% end %>
				<td><%= r.date.strftime('%d/%m/%y') %></td>
				<% u = Usager.find(r.usager_id) %>
				<td><%= link_to "#{u.sexe} #{u.nom} #{u.prenom}", u %></td>
				<td><%= r.type_renc %></td>
				<% if @sigs.present? %>
					<td>
						<%= r.sig_contact if r.sig_contact.present? %>-
						<% if r.sig_coords.present? %>
							<br>Coordonnées : <%= r.sig_coords %>
						<% end %>
					</td>
				<% end %>
			</tr>
		<% end %>
	</table>

<% elsif params[:search] %>
	<p class="lead text-center">Aucun usager signalé par ou accompagné sur la structure correspondant au(x) terme(s) : "<%= params[:search] %>".</p>

<% else %>
	<div id="accordion">
		<% if @sigs.present? %>
			<h3>Signalements <span class="badge"><%= @sigs.count %></span></h3>

			<div>
				<table class="table table-striped">
					<tr>
						<%= render 'table_h' %>
						<th>Contact</th>
					</tr>
					<% @sigs.each do |s| %>
						<tr>
							<td><%= s.date.strftime('%d/%m/%y') %></td>
							<% u = Usager.find(s.usager_id) %>
							<td><%= link_to "#{u.sexe} #{u.nom} #{u.prenom}", u %></td>
							<td><%= s.type_renc %></td>
							<td>
								<% if s.sig_contact.present? %>
									<%= s.sig_contact %>
								<% end %>
								<% if s.sig_coords.present? %>
									<br>Coordonnées : <%= s.sig_coords %>
								<% end %>
							</td>
						</tr>
					<% end %>
				</table>
			</div>
		<% end %>

		<% if @accomps.present? %>
			<h3>Accompagnements <span class="badge"><%= @accomps.count %></span></h3>

			<div>
				<table class="table table-striped">
					<tr><%= render 'table_h' %></tr>
					<% @accomps.each do |s| %>
						<tr>
							<td><%= s.date.strftime('%d/%m/%y') %></td>
							<% u = Usager.find(s.usager_id) %>
							<td><%= link_to "#{u.sexe} #{u.nom} #{u.prenom}", u %></td>
							<td><%= s.type_renc %></td>
						</tr>
					<% end %>
				</table>
			</div>
		<% end %>
	</div>
<% end %>

<% if current_user.admin? %>
	<div class="text-right lead">
		<%= link_to "Supprimer la structure", @structure, method: :delete, data: { confirm: "Etes-vous sûr(e) ?" }, class: "btn btn-danger" %>
	</div>
<% end %>