<% provide(:title, @structure.nom) %>

<h1>
  <%= link_to @structure.nom, edit_structure_path(@structure),
  														class: "btn btn-info btn-lg",
  														'data-toggle' => "tooltip",
                							'data-placement' => "bottom",
                							title: "Editer" %>
  <small>
		<% if @structure.ville.present? %>
			<br><%= @structure.ville %>
		<% end %>
		<% if @structure.adresse.present? %>
			<br><%= @structure.adresse %>
		<% end %>
  </small>
  <% unless current_user.benev? %>
	<br><div class="btn-group">
	  
	</div>
  <% end %>
</h1>

<div id="accordion">
	<% if @sigs.present? %>
		<h3>Signalements <span class="badge"><%= @sigs.count %></span></h3>

		<div><ul>
			<% @sigs.each do |s| %>
				<li>
					<% u = Usager.find(s.usager_id) %>
					<%= "#{u.sexe} #{u.nom} #{u.prenom}, signalement du #{s.date.strftime('%d/%m/%y')} [#{s.type_renc}]" %>
					<% if s.sig_contact.present? %>
						<br>Contact : <%= s.sig_contact %>
					<% end %>
					<% if s.sig_coords.present? %>
						<br>Coordonnées : <%= s.sig_coords %>
					<% end %>
				</li>
			<% end %>
		</ul></div>
	<% end %>

	<% if @accomps.present? %>
		<h3>Accompagnements <span class="badge"><%= @accomps.count %></span></h3>

		<div><ul>
			<% @accomps.each do |s| %>
				<li>
					<% u = Usager.find(s.usager_id) %>
					<%= "#{u.sexe} #{u.nom} #{u.prenom}, accompagnement du #{s.date.strftime('%d/%m/%y')} [#{s.type_renc}]" %>
				</li>
			<% end %>
		</ul></div>
	<% end %>

		<h3>Statistiques</h3>

		<div>
			
		</div>
</div>

<% if current_user.admin? %>
	<div class="text-right lead">
		<%= link_to "Supprimer la structure", @structure, method: :delete, data: { confirm: "Etes-vous sûr(e) ?" }, class: "btn btn-danger" %>
	</div>
<% end %>