<% provide(:title, @user.nom) %>

<h1>
  <%= "#{@user.nom.upcase} #{@user.prenom}" %><br>
  <%= @user.identifiant %>
  <% if @user.admin? %>
    <br>Administrateur
  <% end %>

  <% if !current_user.admin? %>
    <% if current_user?(@user) %>
      <br><%= link_to "Editer", edit_user_path(@user) %>
    <% end %>

  <% else %>
    <br><%= link_to "Editer", edit_user_path(@user) %>
    <% if !current_user?(@user) %>
      | <%= link_to "Supprimer", @user, method: :delete,
                                     data: { confirm: "Etes-vous sûr(e) ?" } %>
    <% end %>
  <% end %>
</h1>