<%= simple_form_for(@usager) do |f| %>

<div class="form-inline">
   <h3>Identité</h3>

   <%= f.radio_button :sexe, "Mr", class: 'form-control' %>
   <%= f.label :sexe_m, "Mr" %>

   <%= f.radio_button :sexe, "Mme", class: 'form-control' %>
   <%= f.label :sexe_f, "Mme" %>

   <%= f.label :date_naissance, "Date de naissance" %>
   <%= f.input :date_naissance, :as => :date_picker, label: false, class: 'form-control' %>

   <%= f.label :tel, "Téléphone" %>
   <%= f.text_field :tel, class: 'form-control' %>

   <hr>
</div>

<div>
   <h3>Adresse</h3>

   <%= f.label :ville %><br>
   <%= f.select :ville, @villes, prompt: "Choisissez une ville", class: 'form-control' %><br>

   <%= f.label :adresse %>
   <%= f.text_field :adresse, class: 'form-control' %>

   <%= f.label :adresse_précis, "Complément d'adresse" %>
   <%= f.text_field :adresse_précis, class: 'form-control' %>

   <hr>
</div>

<div>
   <h3>Groupe</h3>

   <%= f.text_field :groupe_nom, data: {autocomplete_source: Groupe.order(:nom).map(&:nom)}, class: 'form-control' %>

   <hr>
</div>

<div class="form-inline">
   <%= f.label :pqi, "PQI ?" %>
   <%= f.check_box :pqi, class: 'form-control' %>

   <hr>
</div>

<h3>Enfant(s)</h3>
<ul id="enfants">
   <%= f.simple_fields_for :enfants do |enf| %>
      <li><%= render 'enfant_fields', f: enf %></li>
   <% end %>
   <%= link_to_add_association 'Ajouter un enfant', f, :enfants, class: 'links' %>
</ul>

<hr>

<div class="text-center"><%= f.submit "Ajouter usager", class: "btn btn-primary" %></div>

<% end %>