<%= simple_form_for(@usager) do |f| %>

<div class="form-horizontal">
  <div class="part part-hover">
    <h3>Identité</h3>

    <div class="form-group">
      <%= f.label :nom, class: "control-label col-md-3 col-sm-3 col-xs-3" %>
      <div class="col-md-9 col-sm-9 col-xs-9">
        <%= f.text_field :nom, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :prenom, "Prénom", class: "control-label col-md-3 col-sm-3 col-xs-3" %>
      <div class="col-md-9 col-sm-9 col-xs-9">
        <%= f.text_field :prenom, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :sexe, class: "control-label col-md-3 col-sm-3 col-xs-3" %>
      <div class="col-md-2 col-md-offset-3 col-sm-2 col-sm-offset-3 col-xs-2 col-xs-offset-3 form-inline">
        <%= f.radio_button :sexe, "Mr", class: 'form-control' %>
        <%= f.label :sexe_m, "Mr" %>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-3 form-inline">
        <%= f.radio_button :sexe, "Mme", class: 'form-control' %>
        <%= f.label :sexe_f, "Mme" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :date_naissance, "Date de naissance", class: "control-label col-md-3 col-sm-3 col-xs-3" %>
      <div class="col-md-9 col-sm-9 col-xs-9 input-group date" id="datepicker">
        <%= f.text_field :date_naissance, class: 'form-control', data: { date_format: 'DD/MM/YYYY', locale: 'fr' } %>
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :tel, "Téléphone", class: "control-label col-md-3 col-sm-3 col-xs-3" %>
      <div class="col-md-9 col-sm-9 col-xs-9">
        <%= f.text_field :tel, class: 'form-control' %>
      </div>
    </div>
  </div>

  <hr>

  <div class="part part-hover">
    <h3>Adresse</h3>
    
    <div class="form-group">
      <%= f.label :ville, class: "control-label col-md-3 col-sm-3 col-xs-3" %>
      <div class="col-md-9 col-sm-9 col-xs-9">
        <%= f.select :ville, @villes, prompt: "Choisissez une ville", class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :adresse, class: "control-label col-md-3 col-sm-3 col-xs-3" %>
      <div class="col-md-9 col-sm-9 col-xs-9">
        <%= f.text_field :adresse, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :adresse_précis, "Complément d'adresse", class: "control-label col-md-3 col-sm-3 col-xs-3" %>
      <div class="col-md-9 col-sm-9 col-xs-9">
        <%= f.text_area :adresse_précis, class: 'form-control' %>
      </div>
    </div>
  </div>

  <hr>

  <div class="part part-hover">
    <h3>Groupe</h3>

    <div class="form-group">
      <%= f.label :groupe_nom, "Nom", class: "control-label col-md-3 col-sm-3 col-xs-3" %>
      <div class="col-md-9 col-sm-9 col-xs-9">
        <%= f.text_field :groupe_nom, data: {autocomplete_source: Groupe.order(:nom).map(&:nom)}, class: 'form-control' %>
      </div>
    </div>
  </div>

  <hr>

  <div class="form-inline text-center lead part part-hover">
    <label><%= f.check_box :pqi, class: 'form-control' %>  Ajout au PQI</label>  
  </div>

  <hr>

  <div class="part">
    <h3>Enfant(s)</h3>

    <ul id="enfants">
      <%= f.simple_fields_for :enfants do |enf| %>
        <li><%= render 'enfant_fields', f: enf %></li>
      <% end %>
      <%= link_to_add_association 'Ajouter un enfant', f, :enfants, class: 'links btn btn-info' %>
    </ul>
  </div>

  <hr>

  <div class="form-group text-center">
    <div class="btn-group">
      <%= f.submit "Ajouter", class: "btn btn-primary",
                              name: 'add_ok',
                              id: 'submit' %>
      <%= f.submit "Inconnu", class: "btn btn-danger",
                              name: "add_inconnu",
                              data: { confirm: "Etes-vous sûr(e) ? Vous allez créer un usager inconnu." } %>
    </div>
  </div>
</div>

<% end %>