<tr id="usager"
<% if usager.pqi %>
  class="pqi"
<% else %>
  class="no-pqi"
<% end %>
>

  <td>
    <%= link_to "#{usager.sexe} #{usager.nom} #{usager.prenom}", usager %>
    <% if usager.enfants.any? %>
      <br><%= pluralize(usager.enfants.count, 'enfant') %>
    <% end %>
    <% if usager.date_naissance? %>
      <br><%= "#{usager.date_naissance.strftime("%d/%m/%Y")}" %>
    <% end %>
    <% if usager.tel? %>
      <br><%= "#{usager.tel}" %>
    <% end %>
    <% if usager.ref.present? %>
      <br><small>Référent : <%= usager.ref %></small>
    <% end %>
    <% if usager.groupe %>
      <br><%= link_to "#{usager.groupe.nom}", usager.groupe %>
    <% end %>
  </td>
  <td>
    <%= "#{usager.ville.upcase}" %>
    <% if usager.adresse %>
      <br><%= "#{usager.adresse}" %>
    <% end %>
    <% if usager.adresse_précis %>
      <br><%= "#{usager.adresse_précis}" %>
    <% end %>
  </td>
  <td>
    <% dates_renc = [] %>
    <% Rencontre.where(usager_id: usager.id, prev: false, dnv: false).each do |r| %>
      <% dates_renc << "#{r.date.strftime("%d/%m/%y")}" %>
    <% end %>
    <%= dates_5(dates_renc.join(' - ')) %><br>

    <% if Rencontre.find_by(usager_id: usager.id, prev: true) %>
      <% n = Rencontre.where(usager_id: usager.id, prev: true).count %>
      <%= pluralize(n, "rencontre") %> <%= "prévue".pluralize(n) %><br>
    <% end %>

    <%= link_to "Ajouter une rencontre", id_rencontre_path(:id => usager.id), id: 'ajout-rencontre', "data-no-turbolink" => true %>

  </td>
  <% if current_user.admin? %>
    <td>
      <%= link_to "Modifier", edit_usager_path(usager) %><br>
      <%= link_to "Supprimer", usager,  method: :delete,
                                        data: { confirm: "Etes-vous sûr(e) ?" } %>
    </td>
  <% end %>
</tr>