<% provide(:title, 'Usagers') %>
<h1>Usagers</h1>

<%= will_paginate %>

<div class="text-center">
  <%= form_tag(usagers_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Rechercher des usagers" %>
    <%= submit_tag "Rechercher", class: 'btn btn-primary' %>
  <% end %>
</div>

<h4>Au passage de la souris, en vert les usagers sur PQI, en rouge ceux qui n'y sont pas.</h4>

<h4 class="text-right"><%= pluralize(@usagers.count, "usager") %></h4>

<table class="usagers table table-responsive table-hover text-center">
  <tr id="table_head">
    <th class="identité">Identité</th>
    <th class="adresse">Adresse</th>
    <th class="rencontres">Dernières rencontres</th>
    <th class="supp">Edition et Suppression (privilège admin)</th>
  </tr>
  <% if !@usagers.empty? %>
    <%= render @usagers %>
  <% else %>
    <p>Aucun usager correspondant au(x) terme(s) : "<%= params[:search] %>".</p>
  <% end %>
</table>

<%= will_paginate %>