<% provide(:title, 'Usagers') %>
<h1>
  Usagers
  <br><%= link_to "Index des groupes", groupes_path, class: 'btn btn-info' %>
</h1>

<%= will_paginate %>

<%= form_tag(usagers_path, :method => "get", id: "search-form", role: 'search', class: "navbar navbar-search") do %>
  <div class="form-group col-md-4 col-sm-4 col-xs-4">
    <%= text_field_tag :search, params[:search], placeholder: "Rechercher des usagers", class: 'form-control' %>
  </div>
  <%= submit_tag "Rechercher", class: 'btn btn-default' %>
<% end %>

<h4>Au passage de la souris, en vert les usagers sur PQI, en rouge ceux qui n'y sont pas.</h4>

<h4 class="text-right"><%= pluralize(@usagers.count, "usager") %></h4>

<table class="usagers table table-responsive table-hover text-center">
  <tr id="table_head">
    <th>Identité</th>
    <th>Adresse</th>
    <th>Dernières rencontres</th>
    <% unless current_user.admin? %>
      <th>Edition et Suppression (privilège admin)</th>
    <% end %>
  </tr>
  <% if !@usagers.empty? %>
    <%= render @usagers %>
  <% else %>
    <p>Aucun usager correspondant au(x) terme(s) : "<%= params[:search] %>".</p>
  <% end %>
</table>

<%= will_paginate %>