<% provide(:title, 'PQI') %>

<div id="no-print">
  <h1>PQI <span class="label label-default"><%= Usager.where(pqi: true).count %></span></h1>

  <% renc_prev = Rencontre.where(prev: true) %>
  <% if renc_prev.any? %>
    <div id="accordion" class="renc-prev">
      <h3><%= pluralize(renc_prev.count, "Rencontre") %> <%= "prévue".pluralize(renc_prev.count) %></h3>

      <div>
        <ul>
          <% renc_prev.each do |r| %>
            <% u = Usager.find(r.usager_id) %>
            <li class="lead">
              <%= link_to "#{u.sexe} #{u.nom} #{u.prenom} (#{r.ville})", u %>
              : <%= link_to "#{r.type_renc}", edit_rencontre_path(r), "data-no-turbolink" => true %>
              du <%= link_to "#{r.date.strftime("%d/%m/%y")}", edit_rencontre_path(r), "data-no-turbolink" => true %>
              <% if r.signale %>
                <%= " [#{r.signalement}]" %>
              <% end %>
              <% if r.accomp %>
                <%= " [#{r.type_accomp}]" %>
              <% end %>
              <% if r.details.present? %>
                <br>
                <pre><%= r.details %></pre>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="container" id="container-villes">
    <ul class="villes">
      <% @villes.each do |ville| %>
        <li><%= link_to "#{ville.first}", choix_ville_path(:ville => ville.first) %></li>
      <% end %>
    </ul>
  </div>
</div>


<% if @usagers %>
<hr>
<div id="pqi-print">
  <h3 id="ville-actuelle">
    <%= "#{@ville_actuelle}" %>
    <span class="label label-default"><%= Usager.where(pqi: true, ville: @ville_actuelle).count %></span>
    <%= link_to image_tag("print.png", alt: "Imprimer", width: 30, length: 30), '#', onclick: "printpage()", id: 'print-link', class: "btn" %>
  </h3>

  <table class="usagers table table-responsive table-striped">
    <tr class="table_head">
      <th class="identité">Identité</th>
      <th class="adresse">Adresse</th>
      <th class="rencontres">Dernières rencontres</th>
      <th class="notes">Observations</th>
    </tr>
    <% @usagers.each do |usager| %>
      <tr id="table-pqi">
        <td class="identité-tot">
          <%= link_to "#{usager.sexe} #{usager.nom} #{usager.prenom}", usager %>
          <% if usager.enfants.any? %>
            <br><%= pluralize(usager.enfants.count, 'enfant') %>
          <% end %>
          <% if usager.date_naissance? %>
            <br><%= "#{usager.date_naissance.strftime("%d/%m/%y")}" %>
          <% end %>
          <% if usager.tel? %>
            <br><%= "#{usager.tel}" %>
          <% end %>
          <% if usager.ref.present? %>
            <br><small>Référent : <%= usager.ref %></small>
          <% end %>
          <% if usager.groupe %>
            <br><%= link_to "#{usager.groupe.nom}", usager.groupe %>
          <% end %>
        </td>
        <td class="adresse-tot">
          <%= "#{usager.adresse}" %><br>
          <%= "#{usager.adresse_précis}" %>
        </td>
        <td class="rencontres">
          <% dates_renc = [] %>
          <% Rencontre.where(usager_id: usager.id, prev: false, dnv: false, tel: false).each do |r| %>
            <% dates_renc << "#{r.date.strftime("%d/%m/%y")}" %>
          <% end %>
          <%= dates_5(dates_renc.join(' - ')) %><br>
          <% if Rencontre.find_by(usager_id: usager.id, prev: true) %>
            <% n = Rencontre.where(usager_id: usager.id, prev: true).count %>
            <%= pluralize(n, "rencontre") %> <%= "prévue".pluralize(n) %><br>
          <% end %>
          <%= link_to "Ajouter une rencontre", id_rencontre_path(:id => usager.id), id: 'ajout-rencontre', "data-no-turbolink" => true %>
        </td>
        <td><%= "#{usager.notes}" %></td>
      </tr>
    <% end %>
  <% end %>
  </table>
</div>