<% if @usager.nom && @usager.prenom %>
  <% provide(:title, "#{@usager.sexe} #{@usager.nom} #{@usager.prenom}") %>
<% elsif @usager.nom && !@usager.prenom %>
  <% provide(:title, "#{@usager.sexe} #{@usager.nom}") %>
<% else %>
  <% provide(:title, "#{@usager.sexe} #{@usager.prenom}") %>
<% end %>

<h1>
  <%= "#{@usager.sexe} #{@usager.nom} #{@usager.prenom}" %><br>
  <% if logged_in? && current_user.admin? %>
    <%= link_to "Supprimer", @usager, method: :delete,
                                      data: { confirm: "Etes-vous sûr(e) ?" } %>
  <% end %>
  | <%= link_to "Editer", edit_usager_path(@usager) %>
</h1>

<% if Rencontre.find_by(usager_id: @usager.id, prev: true) %>
  <% renc_prev = Rencontre.where(usager_id: @usager.id, prev: true) %>
  <h3><%= pluralize(renc_prev.count, "Rencontre") %> <%= "prévue".pluralize(renc_prev.count) %></h3>
  <ul>
    <% renc_prev.each do |r| %>
      <li>
        <%= link_to "#{r.type_renc}", edit_rencontre_path(r), "data-no-turbolink" => true %>
        du <%= link_to "#{r.date.strftime("%d/%m/%y")}", edit_rencontre_path(r), "data-no-turbolink" => true %><br>
        <pre><%= r.details %></pre>
      </li>
    <% end %>
  </ul>
<% end %>


<% if @usager.enfants.any? %>
  <h3>Enfants</h3>

  <ul class="enfants">
    <% @usager.enfants.each do |e| %>
      <li>
        <%= e.nom %> <%= e.prenom %>, <%= e.sexe.downcase  %> 
        <% if e.date_naissance %>
          <% if e.sexe == "Fille" %>
            née 
          <% else %>
            né 
          <% end %>
          le <%= e.date_naissance.strftime("%d/%m/%y") %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<h3>Informations de base</h3>

<table class="usager_show">
  <tr class="table_head">
    <%= render 'table_h' %>
  </tr>
  <tr id="usager-<%= @usager.id %>">
    <td class="ville"><%= "#{@usager.ville}" %></td>
    <td class="adresse"><%= "#{@usager.adresse}" %></td>
    <td class="comp_adr"><%= "#{@usager.adresse_précis}" %></td>
    <td class="date_naissance"><%= "#{@usager.date_naissance.strftime("%d/%m/%y")}" unless @usager.date_naissance.nil? %></td>
    <td class="tel"><%= "#{@usager.tel}" %></td>
    <td class="pqi">
      <%= form_for(@usager) do |f| %>
        <%= f.check_box :pqi, class: 'form-control', disabled: true %>
      <% end %>
    </td>
    <% user = User.find(@usager.user_id) %>
    <td class="ajout"><%= "Ajouté par " %><%= link_to "#{user.identifiant}", user %><%= " (#{@usager.created_at})" %></td>
  </tr>
</table>

<h3>Interventions</h3>

<span>
  Périodes sur PQI : 
  <% if @usager.pqi_histo %>
    <%= "#{@usager.pqi_histo}" %>
    <% if @usager.pqi %>
      <%= " - toujours sur le PQI." %>
    <% end %>
  <% else %>
    <%= "#{@usager.sexe} #{@usager.nom} n'a jamais été sur le PQI." %>
  <% end %>
</span><br>

<span>
  Observations :
  <% if @usager.notes.nil? || @usager.notes.empty? %>
    Rien de notable.
  <% else %>
    <% if @usager.pqi %>
      <%= "#{@usager.notes}" %>
    <% else %>
      <%= "#{@usager.sexe} #{@usager.nom} n'est pas sur le PQI." %>
      <%= " #{@usager.notes}" %>
    <% end %>
  <% end %>
</span><br>

<span>Dates de signalement : 
  <% dates_sig = [] %>
  <% Rencontre.where(usager_id: @usager.id, signale: true).each do |r| %>
    <% dates_sig << "#{r.date.strftime("%d/%m/%y")} [#{r.signalement}]" %>
  <% end %>
  <%= dates_sig.join(' - ') %>
</span><br>

<span>Dates de rencontres : 
  <% dates_renc = [] %>
  <% Rencontre.where(usager_id: @usager.id, prev: false).each do |r| %>
    <% dates_renc << "#{r.date.strftime("%d/%m/%y")} [#{r.type_renc}]" %>
  <% end %>
  <%= dates_renc.join(' - ') %>
</span><br>

<span><%= link_to "Ajouter une rencontre", id_rencontre_path(:id => @usager.id), id: 'ajout-rencontre', "data-no-turbolink" => true %></span>

<% if @usager.rencontres.any? %>
  <br><span>
    <%= link_to "Supprimer une rencontre",  id_destroy_path(:id => @usager.id),
                                            data: { confirm: "Etes-vous sûr(e) ?"} %>
  </span>
<% end %>

<h3>Statistiques</h3>

<span>Nombre de rencontres : <%= Rencontre.where(usager_id: @usager.id, prev: false).count %></span><br>

<span>Nombre de signalements : <%= Rencontre.where(usager_id: @usager.id, signale: true).count %></span>

<h3>Informations complémentaires</h3>

<table class="infos-supp">
  <tr class="table_head">
    <th class="ressources">Ressources</th>
    <th class="social">Suivi social</th>
    <th class="médical">Suivi médical</th>
    <th class="autre">Autres informations</th>
  </tr>
</table>

<h3>
  <%= link_to "Fiche de suivi", id_fiche_path(:id => @usager.id),
                                class: "btn btn-info btn-lg" %>
</h3>

<pre class="pre-scrollable"><%= @usager.fiche %></pre>