<%= simple_form_for(@rencontre) do |f| %>

<h1>
  <% unless current_user.benev? %>
    Modifier la rencontre avec <%= "#{@usager.sexe} #{@usager.nom} #{@usager.prenom}" %><br>
    <small><%= @rencontre.type_renc %> du <%= @rencontre.date.strftime("%d/%m/%y") %></small>
    <br><button type="button" class="btn btn-danger">
      <%= link_to "Supprimer la rencontre", @rencontre,
                                            method: :delete,
                                            data: { confirm: "Etes-vous sûr(e) ?" },
                                            id: 'no-styling' %>
    </button>
  <% else %>
    Confirmer la rencontre avec <%= "#{@usager.sexe} #{@usager.nom} #{@usager.prenom}" %><br>
    <small>Maraude bénévoles du <%= Date.today.strftime("%d/%m/%y") %></small>
  <% end %>
</h1>

<div class="row">
  <div class="form-inline col-md-6 col-sm-6 col-xs-6">
    <h3>Date</h3>
    <div class="input-group date" id="datepicker">
      <%= f.text_field :date, class: 'form-control', data: { date_format: 'DD/MM/YYYY', locale: 'fr' }, value: @rencontre.date.strftime("%d/%m/%Y") %>
      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-6">
    <h3>Type</h3>
    <% unless current_user.benev? %>
      <%= f.select :type_renc, @types, class: 'form-control' %>
    <% else %>
      <%= f.select :type_renc, ["Maraude bénévoles", "Maraude bénévoles"], disabled: true, class: 'form-control' %>
    <% end %>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-6">
    <h3>Ville</h3>
    <%= f.select :ville, @villes, class: 'form-control' %>
  </div>
</div>

<hr>

<h3>Signalement</h3>

<div class="row form-inline">
  <div class="col-md-6 col-sm-6 col-xs-6">
    <%= f.label :signale, "Nouveau signalement" %>
    <%= f.check_box :signale, class: 'form-control check' %>
  </div>

  <div class="col-md-6 col-sm-6 col-xs-6 appear">
    <%= f.label :signalement, "Type" %>
    <%= f.select :signalement,	[	["Signalement 115", "Signalement 115"],
                        				  ["Signalement tiers", "Signalement tiers"]],
                        			prompt: "Quel type de signalement ?",
                        			class: 'form-control' %>
  </div>
</div>

<hr>

<h3>Accompagnement</h3>

<div class="row form-inline">
  <div class="col-md-6 col-sm-6 col-xs-6">
    <%= f.label :accomp, "Accompagnement" %>
    <%= f.check_box :accomp, checked: false, class: 'form-control check' %>
  </div>

  <div class="col-md-6 col-sm-6 col-xs-6 appear">
    <%= f.label :type_accomp, "Type" %>
    <%= f.select :type_accomp, @accomps, prompt: "Quel type d'accompagnement ?", class: 'form-control' %>
  </div>
</div>

<hr>

<h3>Options</h3>

<div class="form-inline">
  <%= f.label :dnv, "Maraude déplacée mais personne non vue" %>
  <%= f.check_box :dnv, checked: false, class: 'form-control' %>
</div>

<div class="form-inline">
  <%= f.label :prev, "Toujours rencontre prévisionnelle" %>
  <% unless current_user.benev? %>
    <%= f.check_box :prev, checked: false, class: 'form-control' %>
  <% else %>
    <%= f.check_box :prev, checked: false, class: 'form-control', disabled: true %>
  <% end %>
</div>

  <hr>

<h3>Détails</h3>

  <%= f.text_area :details, class: 'form-control', html: {style: 'text-align:center'}, rows:10 %>

<% if @usager.enfants.any? %>
  <br><%= f.label :nb_enf, "Nombre d'enfants vus" %>
  <%= f.select :nb_enf, @nb_enf, prompt: "Nb d'enfants vus", class: 'form-control' %><br>
<% end %>

<hr>

<h3>Prestations</h3>

<div>
  <% for presta in @prestas do %>
    <% if @rencontre.prestas.present? && @rencontre.prestas.split(" #").include?("#{presta.first}") %>
      <%= f.check_box :prestas, { :multiple => true, :checked => true }, "#{presta.first}" %>
      <%= presta.first %><br>
    <% else %>
      <%= f.check_box :prestas, { :multiple => true, :checked => false }, "#{presta.first}" %>
      <%= presta.first %><br>
    <% end %>
  <% end %>

  <hr>
</div>

  <%= f.submit "Valider les modifications", class: 'btn btn-primary', id: 'submit' %>

<% end %>