<script>
var val_stock = ""
var val = ""
var val_affiche = ""

$(document).ready(function(){
    $("#submit").mouseenter(function(){
        val = $("#rencontre_date").val();
        val_affiche = val.slice(8,10) + '/' + val.slice(5,7) + '/' + val.slice(2,4);
        if (val_stock != val) {
            val_stock = val;
            if (gon.renc.indexOf(val) > -1) {
                alert("Etes-vous sûr(e) ? Cette personne a déjà été rencontrée le " + val_affiche + ".");
            };
        };
    });
});
</script>

<% provide(:title, "#{@rencontre.type_renc} prévue") %>

<%= simple_form_for(@rencontre) do |f| %>

<h1>
  Modifier la rencontre prévue<br>
  <%= @rencontre.type_renc %> du <%= @rencontre.date.strftime("%d/%m/%y") %>
  <br><button type="button" class="btn btn-danger">
    <%= link_to "Supprimer la rencontre", @rencontre,
                                          method: :delete,
                                          data: { confirm: "Etes-vous sûr(e) ?" },
                                          id: 'no-styling' %>
  </button>
</h1>

<div class="form-inline">
  <%= f.label :signale, "Nouveau signalement ?" %>
  <%= f.check_box :signale, class: 'form-control' %><br>

  <%= f.label :signalement, "Si oui, type de signalement ?" %>
  <%= f.select :signalement,	[	["Signalement 115", "Signalement 115"],
                      				  ["Signalement tiers", "Signalement tiers"]],
                      			prompt: "Quel type de signalement ?",
                      			class: 'form-control' %>
</div>

<h3>Date</h3>

  <%= f.input :date, label: false, :as => :date_picker, input_html: {value: @rencontre.date.strftime("%F")}, class: 'form-control' %>

<h3>Type</h3>

  <%= f.select :type_renc, @types, prompt: "Quel type de rencontre ?", class: 'form-control' %><br>

<div class="form-inline">
  <%= f.label :prev, "Toujours rencontre prévisionnelle ?" %>
  <%= f.check_box :prev, checked: false, class: 'form-control' %>
</div>

<h3>Détails</h3>

  <%= f.text_field :details, class: 'form-control', html: {style: 'text-align:center'} %>

  <%= f.submit "Valider les modifications", class: 'btn btn-primary', id: 'submit' %>

<h3>Prestation délivrée ?</h3>

<% end %>