<% provide(:title, 'Rencontre de groupe') %>

<h3>Rencontre avec d'autres usagers du groupe "<%= @groupe.nom %>" sur la même intervention ?</h3>

<%= form_for(:rencontre, url: new_groupe_path, method: "POST") do |f| %>

  <% for usager in @usagers do %>
    <%= f.check_box :usagers, { :multiple => true, :checked => false }, usager.id %>
    <%= "#{usager.sexe} #{usager.nom} #{usager.prenom}" %><br>
  <% end %>

  <%= f.submit "Valider", class: "btn btn-primary" %>
<% end %>