<% provide(:title, @groupe.nom) %>

<h1>
  Groupe "<%= @groupe.nom %>"
  <% unless current_user.benev? %>
    <br><div class="btn-group">
      <%= link_to "Editer", edit_groupe_path(@groupe), class: "btn btn-info" %>
      <%= link_to "Supprimer", @groupe, method: :delete, data: { confirm: "Etes-vous sûr(e) ?" }, class: "btn btn-danger" unless !current_user.admin? %>
    </div>
  <% end %>
</h1>
<h1>
  <small><%= pluralize(@groupe.usagers.count, "membre") %></small>
</h1>

<div class="row usagers">
  <% @usagers.each do |u| %>
    <div class="col-md-3 col-sm-3 col-xs-3 lead usager">
	    <%= link_to "#{u.sexe} #{u.nom} #{u.prenom}", u %>
  	  <% if u.enfants.any? %>
        <ul class="enfants">
  	      <% u.enfants.each do |e| %>
    	  	  <li>
        	    <%= e.nom %> <%= e.prenom %>, <%= e.sexe.downcase %> 
      	 	  </li>
          <% end %>
  	 	  </ul>
      <% end %>
	  </div>
  <% end %>
  <hr>
</div>