<% provide(:title, @groupe.nom) %>

<h1>
  <% unless current_user.benev? %>
    <%= link_to @groupe.nom,  edit_groupe_path(@groupe),
                              class: "btn btn-info btn-lg",
                              'data-toggle' => "tooltip",
                              'data-placement' => "bottom",
                              title: "Editer" %>
  <% else %>
    <%= @groupe.nom %>
  <% end %>
</h1>
<h1>
  <small><%= pluralize(@groupe.usagers.count, "membre") %></small>
</h1>

<div class="row usagers">
  <% @usagers.each do |u| %>
    <div class="col-md-3 col-sm-3 col-xs-3 lead usager">
	    <%= link_to "#{u.sexe} #{u.nom} #{u.prenom}", u %>
  	  <% if u.enfants.any? %>
        <ul class="enfants">
  	      <% u.enfants.each do |e| %>
    	  	  <li>
        	    <%= e.nom %> <%= e.prenom %>, <%= e.sexe.downcase %> 
      	 	  </li>
          <% end %>
  	 	  </ul>
      <% end %>
	  </div>
  <% end %>
  <hr>
</div>

<% if current_user.admin? %>
  <div class="text-right lead">
    <%= link_to "Supprimer le groupe",  @groupe,
                                        method: :delete,
                                        data: { confirm: "Etes-vous sûr(e) ?" },
                                        class: "btn btn-danger" %>
  </div>
<% end %>