<%= simple_form_for(:stat, url: stats_path, html: { class: "form-inline" }) do |f| %>	  
<div>
   <%= f.label :date_deb, "Début de la période" %>
   <%= f.input :date_deb, :as => :date_picker, label: false, class: 'form-control' %>

   <%= f.label :date_fin, "Fin" %>
   <%= f.input :date_fin, :as => :date_picker, label: false, class: 'form-control' %>

   <%= f.label :ville %>
   <%= f.select :ville, @villes, prompt: "Choisissez une ville", class: 'form-control' %>
</div>

<div>
   <%= f.submit "Valider", class: "btn btn-primary" %>
</div>
<% end %>