<% provide(:title, "Statistiques") %>

<h3>Effectuer une recherche par période ou par ville et période</h3>

<div class="container" id="container-periode">
  <%= render 'form' %>
</div>

<% if @ville.nil? && !@dates.nil? %>
  <h3 class="text-center">
    <%= "Statistiques sur le département du #{@dates.first.split('-').reverse.join('/')} au #{@dates.last.split('-').reverse.join('/')}" %>
  </h3>

  <h5>
    Entre parenthèses : (Nb d'hommes/Nb de femmes ; Nb d'enfants)<br>
    Pour les prestations : Alimentaire/Vestiaire/Duvet/Hygiène<br>
    Le nombre total de maraudes n'est pas la somme des chiffres de la colonne ! Il s'agit bien du nombre total de maraudes effectuées sur la période.
  </h5>

  <table class="stats table table-responsive table-striped">
  	<tr id="table-head">
      <th>Ville</th>
      <%= render 'table_h' %>
  	</tr>
    
    <% @f_tot = 0 %>
    <% @h_tot = 0 %>
    <% @e_tot = 0 %>
    <% @f_dif = 0 %>
    <% @h_dif = 0 %>
    <% @f_dnv = 0 %>
    <% @h_dnv = 0 %>
    <% @f_sig = 0 %>
    <% @h_sig = 0 %>
    <% @e_sig = 0 %>
    <% @f_sig_dnv = 0 %>
    <% @h_sig_dnv = 0 %>
    <% @f_acc = 0 %>
    <% @h_acc = 0 %>
    <% @e_acc = 0 %>
    <% @pa_tot = 0 %>
    <% @pv_tot = 0 %>
    <% @pd_tot = 0 %>
    <% @ph_tot = 0 %>

    <% @villes.each do |ville| %>
      <tr>
        <th><%= "#{ville.first}" %></th>
        <td>
          <% n = 0 %>
          <% mar = Maraude.where(date: (Date.parse(@dates.first))..(Date.parse(@dates.last))) %>
          <% mar.each do |m| %>
            <% if m.villes.include?("#{ville.first}") %>
              <% n += 1 %>
            <% end %>
          <% end %>
          <%= n %>
        </td>
        <td>
          <% @usagers = Usager.where(ville: ville) %>
          <%= render 'calc_rencontres' %>
        </td>
        <td>
          <% @usagers = Usager.where(ville: ville) %>
          <%= render 'calc_rencontres_diff' %>
        </td>
        <td>
          <% @usagers = Usager.where(ville: ville) %>
          <%= render 'calc_dnv' %>
        </td>
        <td>
          <% @usagers = Usager.where(ville: ville) %>
          <%= render 'calc_signalements' %>
        </td>
        <td>
          <% @usagers = Usager.where(ville: ville) %>
          <%= render 'calc_sig_dnv' %>
        </td>
        <td>
          <% @usagers = Usager.where(ville: ville) %>
          <%= render 'calc_accomps' %>
        </td>
        <td>
          <% @usagers = Usager.where(ville: ville) %>
          <%= render 'calc_prestas' %>
        </td>
      </tr>
    <% end %>

    <tr class="lead">
      <th id="total">Total</th>
      <td><%= pluralize(Maraude.where(date: (Date.parse(@dates.first))..(Date.parse(@dates.last))).count, "maraude") %></td>
      <td><%= "#{@h_tot + @f_tot} (#{@h_tot}/#{@f_tot} ; #{@e_tot})" %></td>
      <td><%= "#{@h_dif + @f_dif} (#{@h_dif}/#{@f_dif})" %></td>
      <td><%= "#{@h_dnv + @f_dnv} (#{@h_dnv}/#{@f_dnv})" %></td>
      <td><%= "#{@h_sig + @f_sig} (#{@h_sig}/#{@f_sig} ; #{@e_sig})" %></td>
      <td><%= "#{@h_sig_dnv + @f_sig_dnv} (#{@h_sig_dnv}/#{@f_sig_dnv})" %></td>
      <td><%= "#{@h_acc + @f_acc} (#{@h_acc}/#{@f_acc} ; #{@e_acc})" %></td>
      <td><%= "#{@pa_tot}/#{@pv_tot}/#{@pd_tot}/#{@ph_tot}" %></td>
  </table>

<% elsif !@ville.nil? && !@dates.nil? %>
  <h3>
    <%= "Statistiques sur #{@ville} du #{@dates.first.split('-').reverse.join('/')} au #{@dates.last.split('-').reverse.join('/')}" %>
  </h3>

  <h5>
    Entre parenthèses : (Nb d'hommes/Nb de femmes)<br>
    Pour les prestations : Alimentaire/Vestiaire/Duvet/Hygiène
  </h5>

  <table class="stats table table-responsive">
  	<tr id="table-head">
  	  <%= render 'table_h' %>
  	</tr>
  	<tr>
      <td>
        <% n = 0 %>
        <% mar = Maraude.where(date: (Date.parse(@dates.first))..(Date.parse(@dates.last))) %>
        <% mar.each do |m| %>
          <% if m.villes.include?("#{@ville}") %>
            <% n += 1 %>
          <% end %>
        <% end %>
        <%= n %>
      </td>
  	  <td>
  	  	<% @usagers = Usager.where(ville: @ville) %>
        <%= render 'calc_rencontres' %>
      </td>
      <td>
      	<% @usagers = Usager.where(ville: @ville) %>
        <%= render 'calc_rencontres_diff' %>
      </td>
      <td>
        <% @usagers = Usager.where(ville: @ville) %>
        <%= render 'calc_dnv' %>
      </td>
      <td>
        <% @usagers = Usager.where(ville: @ville) %>
        <%= render 'calc_signalements' %>
      </td>
      <td>
        <% @usagers = Usager.where(ville: @ville) %>
        <%= render 'calc_sig_dnv' %>
      </td>
      <td>
        <% @usagers = Usager.where(ville: @ville) %>
        <%= render 'calc_accomps' %>
      </td>
      <td>
        <% @usagers = Usager.where(ville: @ville) %>
        <%= render 'calc_prestas' %>
      </td>
    </tr>
  </table>

<% end %>